red/flows.json
[{"id":"4c75591.5f574a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ab604ceb.ddbbc","type":"mqtt-broker","z":"","name":"localhost","broker":"localhost","port":"1883","clientid":"nodered","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4b5237fb.435128","type":"mqtt in","z":"4c75591.5f574a8","name":"","topic":"/ble/advertise/Puck2/cafe","qos":"2","datatype":"auto","broker":"ab604ceb.ddbbc","x":130,"y":380,"wires":[["98ebaf0d.219d"]]},{"id":"435dd5d9.18ff0c","type":"debug","z":"4c75591.5f574a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":380,"wires":[]},{"id":"9ef84942.b69cd8","type":"http in","z":"4c75591.5f574a8","name":"","url":"/webhook","method":"get","upload":false,"swaggerDoc":"","x":100,"y":280,"wires":[["ea886c50.0aaad","13223ce.bd8bbc3"]]},{"id":"f397d7d4.6c1ba8","type":"http response","z":"4c75591.5f574a8","name":"","statusCode":"200","headers":{},"x":660,"y":280,"wires":[]},{"id":"ea886c50.0aaad","type":"delay","z":"4c75591.5f574a8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":320,"y":200,"wires":[["8cbb477d.72a888"]]},{"id":"8cbb477d.72a888","type":"function","z":"4c75591.5f574a8","name":"increase","func":"var c1 = flow.get(\"c1\");\nc1 = isNaN(c1)?0:c1+1;\nflow.set(\"c1\",c1);\n","outputs":1,"noerr":0,"x":500,"y":200,"wires":[[]]},{"id":"13223ce.bd8bbc3","type":"function","z":"4c75591.5f574a8","name":"read","func":"var c1 = flow.get(\"c1\");\nc1 = isNaN(c1)?0:c1;\n\nmsg.payload = c1;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["f397d7d4.6c1ba8","435dd5d9.18ff0c"]]},{"id":"b84a4dcb.00518","type":"mqtt in","z":"4c75591.5f574a8","name":"","topic":"/ble/#","qos":"2","datatype":"auto","broker":"ab604ceb.ddbbc","x":70,"y":460,"wires":[["b953d3df.5f7c5"]]},{"id":"b953d3df.5f7c5","type":"debug","z":"4c75591.5f574a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":460,"wires":[]},{"id":"c3dcd3.783dc33","type":"mqtt out","z":"4c75591.5f574a8","name":"","topic":"/ble/write/Puck2/nus/nus_tx","qos":"2","retain":"true","broker":"ab604ceb.ddbbc","x":520,"y":600,"wires":[]},{"id":"fa5cbff1.2c6a6","type":"inject","z":"4c75591.5f574a8","name":"","topic":"","payload":"LED1.set();","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":600,"wires":[["52d0a3d7.d34cdc"]]},{"id":"b8f57c85.2071a","type":"debug","z":"4c75591.5f574a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":540,"wires":[]},{"id":"52d0a3d7.d34cdc","type":"function","z":"4c75591.5f574a8","name":"newline","func":"msg.payload += \"\\n\";\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":600,"wires":[["b8f57c85.2071a","c3dcd3.783dc33"]]},{"id":"c0768950.bce178","type":"inject","z":"4c75591.5f574a8","name":"","topic":"","payload":"LED1.reset();","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":660,"wires":[["52d0a3d7.d34cdc"]]},{"id":"98ebaf0d.219d","type":"function","z":"4c75591.5f574a8","name":"","func":"msg.payload = JSON.parse(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":380,"wires":[["435dd5d9.18ff0c"]]}]